.register-content {
  padding: 40px 10px;
  border: solid 2px lightgrey;
  border-radius: 5px;
  background-color: white;
  margin: 70px auto;
  width: 400px;
  overflow: hidden;
  box-shadow: 5px 5px 15px grey;
}

.register-content_input {
  padding: 3px 0 0 5px;
  border-bottom: solid 2px lightgrey;
  border-radius: 5px;
  margin: 30px 10px 20px 15px;
}
.circle {
  border: solid 2px lightgrey;
  padding: 5px;
  border-radius: 50%;
  filter: opacity(70%);
}

.register-content_button {
  padding: 5px;
  margin: 50px 0 0 100px;
}
.register-content_button {
  padding: 6px 10px;
  width: 150px;
  border: 2px solid lightgrey;
  border-radius: 19px;
  background-color: rgb(44, 44, 238);
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

.register-content_header {
  font-size: 20px;
  margin: 0 0 0 70px;
  padding: 15px 0 25px 50px;
  color: lightgrey;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
.register-content_invalid p {
    font-size: 20px;
    margin: 50px 0 0 100px;
    color: red;
  }
  